body{
    background-color: plum;
}
#inicio{
    border-radius: 10px;
}
#fim{
    border-radius: 10px;
}
#passo{
    border-radius: 10px;
}
.contar{
    border-radius: 10px;
}
#conta{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#container{
    display: flex;
    margin-left: 400px;
}
h1{
    font-size: 40px;
    color: white;
    margin-left: 220px;
}
label{
    color: white;
}