body{
   background-image: url(pexels-mark-burnett-1095817.jpg);
}
#box{ 
    font: bold 20px Arial;
    background-color: green;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
    border-radius: 30px;
    opacity: 80%;
    margin: 2px;

}
#elemento {
    font-size: 50px;
    
    color: white;
    text-align: center;
}
#numUm{
    border-radius: 50px;
}
#numDois{
    border-radius: 50px; 
}
#container{
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
    text-align: center;
   
    
    
}